<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <script type="text/javascript" src="/static/send.js"></script>
    <title>Create</title>
</head>
<body>
<div>
    <label for="code_snippet"></label><textarea name="code" id="code_snippet" cols="30" rows="10" placeholder="// write your code here"></textarea>
    <br>
    <label for="time_restriction">Time restriction:  <input id="time_restriction" type="text"/></label>
    <br>
    <label for="views_restriction">Views restriction: </label><input id="views_restriction" type="text"/>
    <br>
    <button id="send_snippet" type="submit" onclick="send()" value="Submit"></button>
</div>
</body>
</html>